<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="assets/images/logo.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto my-sm-0" *ngIf="user$ | async as user; else login">

        <li class="nav-item">
          <a href="#" class="nav-link active"  *ngIf="user" routerLink="/new">Reservar Viaje
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active"  *ngIf="user" routerLink="/lista">Lista de Reservas
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active"  *ngIf="user" (click)="salir()">Salir
          </a>
        </li>
      </ul>

      <ng-template #login>
        <form class="d-flex">
        <ul class="navbar-nav mx-auto my-sm-0">
        <li class="nav-item" >
          <a class="nav-link active" routerLink="/login">Login
          </a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/register">Register
            </a>
          </li>
        </ul>
        </form>
      </ng-template>
    </div>
  </div>
</nav>
<div class="alert alert-success" role="alert">
  <MARQUEE><i class="bi bi-calendar-week-fill">  INICIAR SESION PARA RESERVAR VIAJE</i></MARQUEE>
</div>
