<h1 class="text-center">Compra en DIGITAL WARE todo para tu viaje</h1>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/course1.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reserva Flexible</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/course2.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">¿Como hacer reserva?</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/images/aa.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mapa de apertura</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
